nav.nav 
    a.logo(href="#") 
        img.logo__img(src="assets/logo.svg", alt="GymProject Logo")
    ul.nav__buttons
        li.nav__item
            a.button(href="signup") Реєстрація
        li.nav__item
            a.button.button_highlight(href="signin") Вхід