doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="GymProject - почніть свою подорож до здорового тіла з нами. Реєстрація та вхід для нових користувачів.")
        title GymProject
        link(rel="stylesheet", href="css/home.css")
    body 
        include ../public/components/nav/nav.pug
        main.main
            section.section-intro 
                div.section-intro__content
                    h1.slogan Почни будувати тіло з нами
                    a.button.button_highlight.section-intro__button(href="signin") Почати
